.content {
  position: relative;
  padding: 20px;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  background-color: #eeeeee;
  border-radius: 2px;

  // button {
  //   position: absolute;
  //   right: 0;
  //   margin: 10px;
  //   width: 30px;
  //   height: 30px;
  // }

  // .episodes {
  //   max-height: 160px;
  //   overflow-y: auto;
  // }
}
