.header {
  background-color: #026aa7;
  min-width: 320px;
}

.links {
  display: flex;
  min-height: 44px;
}

.wrapper {
  composes: wrapper from '../../App.css';
}

.nav-links {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
}

.nav-links a:hover {
  opacity: 0.8;
}

.nav-links .active {
  color: aqua;
}
